<h3>Search for Friends</h3>

<div id="friend-lookup">
  <form id="friend-lookup-form" ng-submit="lookup()">
    <div class="form-group row no-padding text-center col-md-12">
      <div class="col-md-10">
        <input type="text" id="friend-search-param"
               placeholder="Enter name or email" class="form-control search-box input-lg"
               autofocus="true" ng-model="friend_search_param" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-lg btn-success" type="submit">
          <i class="fa fa-search"></i> Search
        </button>
      </div>
    </div>
  </form>
</div>
<div id="results">
  <%= render 'friends/result' %>
</div>
